.home-page {
  .self-photo-container {
    display: flex;
    height: 70vh;

    .self-photo {
      border-radius: 50%;
      border: 3px solid $outer-space;
      margin: auto 0 auto auto;
      max-width: 350px;
      min-height: 350px;
    }

  }
  .social-medias {
    .social-icon {
      color: $outer-space;
      font-size: 30px;
      position: relative;
      top: 150px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .right-container {
    margin: auto;
    text-align: center;

    .info-block {
      min-height: 200px;
    }

    .block-title {
      font-size: 50px;
      font-weight: 700;
    }

    .introduction::-webkit-scrollbar {
      width: 10px;
    }
    
    .introduction::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    .introduction::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    .introduction::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .introduction {
      max-height: 300px;

      .block-subtitle {
        font-size: 24px;
        font-weight: 500;
      }

      .introduction-p {
        font-size: 20px;
      }

      .block-p {
        font-size: 17px;
      }

      .project-link {
        border: 1px solid $outer-space;
        border-radius: 4px;
        color: $outer-space;
        font-size: 20px;
        padding: 3px 5px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .back-button {
    color: $outer-space;
    font-size: 20px;
    border: none;
    background-color: transparent;

    &:hover {
      color: $apple-green;
    }
  }
}
