@import "./variables.scss";
@import "./UI/centralCard.scss";
@import "./Welcome/welcome.scss";
@import "./Pages/homePage.scss";
@import "./UI/header.scss";
@import "./Animations/animations.scss";
@import "./Pages/homePageResponsive.scss";

html, .main-app-container {
    background-color: $outer-space;
    font-family: 'IBM Plex Mono', monospace;;
    min-height: 100vh;
    overflow-y: hidden;
    
}

a {
    text-decoration: none;
}